.banner {
    background-image: url(https://cdn.domestika.org/c_fill,dpr_auto,f_auto,h_624,q_auto,w_2000/v1611591695/home-hero-covers/es/000/000/070/70-original.png?1611591695);
    /* background-image: url(https://content.halocdn.com/media/Default/games/halo-3/Page/halo-3-hero-large-1920x675-904655b90ede4093925594e522de7a9f.jpg); */
    background-attachment: fixed;
}

.banner .container {
    padding: 9rem 0;
}

.card,
.card img,
.card .curso-image {
    border-radius: 0;
}

.card .curso-image {
    /* background-color: whitesmoke; */
    background-position: center center;
    background-size: cover;
    height: 150px;
    min-width: 280px;
    margin: 0 auto;
    max-width: 280px !important;
    max-height: 150px;
    width: 100%;
}

.card-wrapper {
    display: flex;
    align-items: stretch;
}

.card .card-body {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-between;
}

.card .card-body button {
    display: flex;
    align-items: center;
}

footer {
    color: white;
}