html {
    /* background-image: radial-gradient(circle at 13% 47%, rgba(152,99,213, 0.12) 0%, rgba(152,99,213, 0.12) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(152,99,213, 0.12) 0%, rgba(152,99,213, 0.12) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(152,99,213, 0.04) 0%, rgba(152,99,213, 0.04) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(152,99,213, 0.12) 0%, rgba(152,99,213, 0.12) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(152,99,213, 0.12) 0%, rgba(152,99,213, 0.12) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(152,99,213, 0.12) 0%, rgba(152,99,213, 0.12) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(152,99,213, 0.12) 0%, rgba(152,99,213, 0.12) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgba(255,255,255, 0),rgba(255,255,255, 0));
    background-attachment: fixed; */
    /* width: 100%;
    height: 100%; */
}

body {
    /* background: transparent !important; */
}

.card,
.card img,
.card .curso-image {
    border-radius: 0;
}

.card-wrapper {
    display: flex;
    align-items: stretch;
}

.card .card-body {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: space-between;
}

.card .card-body button {
    display: flex;
    align-items: center;
}

.card .curso-image {
    /* background-color: whitesmoke; */
    background-position: center center;
    background-size: cover;
    height: 150px;
    /* min-width: 280px; */
    margin: 0 auto;
    max-width: 280px !important;
    max-height: 150px;
    width: 100%;
}