.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--ourlib) !important;
}

.btn-action {
    border-radius: 50% !important;
    height: 44px;
    width: 44px;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-left: auto;
}

.btn-action.edit:hover {
    background-color: var(--ourlib) !important;
    border-color: var(--ourlib) !important;
}

.btn-action.delete:hover {
    background-color: var(--bs-red) !important;
    border-color: var(--bs-red) !important;
}

div.image {
    background-position: center center;
    background-size: cover;
    min-height: 360px;
    width: 100%;
}